<h1>Student Form</h1>

<%= form_for :student, url: students_path do %>
  <div>
    <label>First Name</label>
    <%= text_field_tag :first_name %>
  </div>
  <div>
    <label>Last Name</label>
    <%= text_field_tag :last_name %>
  </div>
  <button>Submit Student</button>
<% end %>
